<!DOCTYPE html>
<html>
    <head>
        <title>---</title>
        <link href='./css/app.css' type='text/css' rel='stylesheet'>
        <link href='./css/bootstrap.min.css' type='text/css' rel='stylesheet'>
    </head>
    <body>
        <script id='app-template' type='text-template'>
            <div id='select_menu'></div>
            <div class='clear'></div>
            <div id='editor'></div>
            <div class='clear'></div>
            <div id='game'></div>
            <div id='communication'></div>
        </script>
        
        <script id='connector-template' type='text-template'>
            <div class='connector' data-direction='<%= direction %>' data-parent-row='<%= row %>' data-parent-position='<%= position %>'>
            </div>
        </script>

        <script id='tile-template' type='text-template'>
                <div class='move_tile' data-id='<%= id %>'><b class='value'><%= value %></b></div>
        </script>

        <script id='preview-field-template' type='text-template'>
            <div id='field_selection'>
            <% for(var i = 0; i < count; i++)  { %>
                <div class='field_select' data-id='<%= i %>'></div>
            <% } %> 
            </div>

        </script>

        <script id='preview-template' type='text-template'>
            <ul class='preview'>
                <li class='title'>
                    <h3><%= name %></h3>
                </li>
                <li class='field'>
                </li>
                <li class='info'>
                    <ul class='info_table'>
                        <li>
                            <b>Highscore: </b><label class='highscore' data-mapkey='<%= mapkey %>'><%= highscore %></label>
                        </li>
                        <li>
                            <b>Highest Tile: </b><label class='max_tile' data-mapkey='<%= mapkey %>'><%= 
                                tile %></label>
                        </li>
                        <li>
                            <b>Target Tile: </b><label class='target_tile' data-mapkey='<%= mapkey %>'><%=
                                target_tile%></label>
                        </li>
                </li>

            </ul>    
            
        </script>

        <script id='board-template' type='text-template'>
            <% for(var i = 0; i < map.length; i++)  { %>
                <div class='row'>
                <% var count = 0 %>
                <% for(var j = 0; j < map[i].length; j++) {  %>
                    <% if(map[i][j] == -1) { %>
                        <% count++ %>
                        <div class='field_empty' data-row='<%= i %>' data-position='<%= count %>'> </div >
                    <% } else { %>
                        <div  class='field-tile' data-row='<%= i %>' data-position='<%= map[i][j] %>'> </div >
                    <% } %>
                <% } %>
                </div>
            <% } %>
        </script>

    	<script id='index-template' type='text-template'>
                <div id='footer'>
                    <button class='btn_newgame'>Neues Spiel</button>
                    <button class='btn_selectlevel'>Change Level</button>
                    <b>Highscore: </b><label class='highscore' data-mapkey='<%= mapkey %>'>0</label>
                    <b>Score: </b><label id='score'>0</label>
                    <b>Target</b><label class='target_tile' data-mapkey='<%= mapkey %>'><%= target_tile %></label>
                </div>
                <div id='tbl_hexfield'></div>
                <div id='tiles'></div>
                <div id='connectors'></div>
    	</script> 
        <script id='win_tile-template' type='text-template'>
        <div  id='comm_win_tile' class='content'>
            <label class='communication'><h2>Gewonnen!</h2></label>
            <ul id='winlist'>
                <li> <label class='btn_newgame'>New Game</label></li>
                <li> <label class='btn_continue'>Spiele weiter</label></li>
            </ul>
        </div>
        </script>
        <script id='communication-template' type='text-template'>
            <div id='layer'></div>
        </script>

        <script id='gameover-template' type='text-template'>
            <div id='comm_gameover' class='content'>
            <label class='communication'>GAME OVER!</label>
            <ul id='gameoverlist'>
                <li><label class='btn_newgame communication'>New Game</label></li>
                <li><label class='btn_selectlevel communication'>Change Level</label></li>
            </ul>
            </div>
        </script>

        <script id='gamestart-template' type='text-template'>
            <div id='comm_gamestart' class='content'>
            <label class='communication'> Press a Move Key to start </label>
            </div>
        </script>

        <script data-main="javascript/app" src="javascript/vendor/require.js"></script>
    </body>
</html>